{{#with data}}
<div class="card">
  <div class="card-header">
  {{name}}
  </div>
  <div class="card-body">
    <div class="card_block">
      <span class="card_price_amount">{{price}}$</span>
      <span class="card_price_duration">/ mo</span>
    </div>
    <div class="card_block">
      <ul class="card_description">
        {{#each features}}
        <li class="card_description_item">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="card_block">
      <button class="card_button btn {{#if @first}} btn-outline-primary{{else}}btn-primary{{/if}}">{{button}}</button>
    </div>
  </div>
</div>
{{/with}}